@import url("https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

main {
  background-color: #282828;
  display: flex;
  justify-content: space-evenly;
}

/* ------------Team Names ---------------*/

.teamName {
  position: absolute;
  bottom: 270px;
  width: 150px;
  height: 2rem;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  background-color: #282828;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

#teamNameGreen {
  left: 320px;
}

#teamNameBlue {
  right: 320px;
}

/* --------- Rectangles ---------- */

.rectangle {
  margin-top: 30%;
  border-radius: 20px;
  height: 480px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff851;
}
#greenRectangle {
  border: 5px solid #4ff5b9;
}

#blueRectangle {
  border: 5px solid #4c5df8;
}

.counter {
  background: #000000;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  font-family: 'Orbitron', sans-serif;
  font-size: 144px;
  line-height: 181px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff851;
}

/* ---------- Count-Buttons------------ */

.buttonBox{
  display: flex;
  justify-content: center;
  height: fit-content;
}

.buttonBox button{
  font-family: "Lato", sans-serif;
  font-size: 30px;
  margin-top: 5rem;
  margin-left: 1rem;             
  margin-right: 1rem;
  height: 100px;
  width: 100px;
  border: 2px #282828 solid;
  border-radius: 16px;
  color: #ffffff;
}

.buttonBox button:hover{
  color: #282828;
  box-shadow: 2px 2px lightgray;
}

#greenArea button {
  background-color: #4ff5b9;
  
}

#blueArea button {
  background: #4c5df8;
}

/* ---------reset-button------ */

#reset {
  display: block;
  position: absolute;
  bottom: 5%;
  height: 2rem;
  width: 6rem;
  border-radius: 8px;
  border: 2px #282828 solid;
  font-weight: bold;
}

#reset:hover{
  font-size: larger;
  box-shadow: 2px 2px lightgray;
}

/* -------modal Button-------- */

#modalButton{
  position: absolute;
  top: 5%;
  height: 3rem;
  width: 20rem;
  border-radius: 8px;
  border: 2px #282828 solid;
  
  font-size: 1.5rem;
  background-color:#4ff5b9;
  color: #4c5df8;
}

#modalButton:hover{
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #4c5df8 ;
  color: #4ff5b9;
}

#modalButton:hover::after{
  content: ' >>';
}